.field {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
	justify-content: center;
	max-width: 1200px;
	margin: auto;
	margin-top: 50px;
}

body {
	background-image: url('./field.jpg');
	overflow: hidden;
}

.loop-button {
	position: relative;
	top: 10px;
	left: 10px;
	background: none;
	border: none;
	cursor: pointer;
	display: none;
}
@media (min-width: 470px) {
	.loop-button {
		display: block;
	}
	.field {
		margin-top: 10px;
	}
}


.card {
	height: 140px;
	transition: transform 0.3s ease 0s;
	position: relative;
	-webkit-transform-style: preserve-3d;
	-webkit-backface-visibility: hidden;
	display: flex;
	justify-content: center;
	align-items: end;
	border-radius: 20px;
	cursor: pointer;
}

.guessedCard {
	height: 200px;
	border: 1px solid black;
	cursor: auto;
}


.card.flipped {
	transform: rotateY(180deg);
	cursor: auto;
}

.card.flipped::after {
	content: attr(data-plant-name);
	right: 0px;
	bottom: 0px;
	position: absolute;
	text-align: center;
	top: 0;
	left: 0px;
	background: white;
	-webkit-transform: rotateY(180deg);
	-webkit-transform-style: preserve-3d;
	-webkit-backface-visibility: hidden;
	border-radius: 20px;
}


.guessed::after {
	animation: dissolveCard 1s ease-out forwards;
}

@keyframes dissolveCard {
	0% {
		transform: rotateY(180deg) scale(1);
		filter: blur(0);
		opacity: 1;
	}

	10% {
		border-radius: 50%;
		filter: blur(10px);
	}

	100% {
		transform: rotateY(180deg) scale(2);
		opacity: 0;
	}
}

.flower {
	position: absolute;
	margin: 0 auto;
	width: 50px;
	transform: rotate(180deg);
	z-index: 2;
}

.flower.flower-0 {
	left: 13%;
}

.flower.flower-1 {
	left: 47%;
	bottom: 30px;
}

.flower.flower-2 {
	left: 80%;
}


.stem {
	position: absolute;
	width: 60px;
	height: 95px;
	right: 0;
	border: solid 5px #000;
	border-color: transparent #4e942e transparent transparent;
	border-radius: 0 0 20px/100% 0;
	animation: growingStem 3s linear 0s 1, flowerWind 3s linear 3s infinite;
}

@keyframes growingStem {
	0% {
		height: 0;
		border-radius: 0 0 0 0;
	}

	50% {
		border-radius: 0 0 10px/100% 0;
	}

	100% {
		height: 95px;
		border-radius: 0 0 20px/100% 0;
	}
}

@keyframes flowerWind {
	0% {
		border-radius: 0 0 20px/100% 0;
	}

	50% {
		border-radius: 0 0 40px/100% 0;
	}

	100% {
		border-radius: 0 0 20px/100% 0;
	}
}


.leave-1 {
	width: 15px;
	height: 30px;
	left: 47px;
	top: 30px;
	position: absolute;
	border-top-left-radius: 0px;
	border-top-right-radius: 75px;
	border-bottom-left-radius: 75px;
	border-bottom-right-radius: 0px;
	background: linear-gradient(45deg, #008000 0%, #4e942e 100%);
	animation: growingLeave1 3s linear 0s, leaveWind1 2.8s linear 2s infinite;
}

@keyframes growingLeave1 {
	0% {
		transform: rotateY(90deg);
		left: 40px;
		top: 10px;
	}

	80% {
		left: 49px;
	}

	90% {
		top: 30px;
	}

	100% {
		left: 47px;
		transform: rotateY(0);
	}
}

@keyframes leaveWind1 {
	0% {
		transform: rotate(0);
		transform-origin: top left;
	}

	50% {
		transform: rotate(10deg);
		transform-origin: top left;
	}

	100% {
		transform: rotate(0);
		transform-origin: top left;
	}
}

.leave-2 {
	width: 15px;
	height: 30px;
	left: 32px;
	top: 20px;
	position: absolute;
	border-top-left-radius: 75px;
	border-top-right-radius: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 75px;
	background: linear-gradient(45deg, #008000 0%, #4e942e 100%);
	animation: growingLeave2 3s linear 0s, leaveWind2 2.8s linear 2.1s infinite;
	transform: rotate(15deg);
}

@keyframes growingLeave2 {
	0% {
		transform: rotate(10deg) rotateY(90deg);
		left: 37px;
		top: 0;
	}

	90% {
		left: 32px;
		top: 20px;
	}

	100% {
		transform: rotate(10deg) rotateY(0);
	}
}

@keyframes leaveWind2 {
	0% {
		transform: rotate(10deg);
		transform-origin: top right;
	}

	50% {
		transform: rotate(15deg);
		transform-origin: top right;
	}

	100% {
		transform: rotate(10deg);
		transform-origin: top right;
	}
}


.petals {
	position: relative;
	top: 85px;
	left: 24px;
	transform: translate(7.2px) rotate(10deg);
	animation: petals 3s linear 3s infinite;
}

@keyframes petals {
	0% {
		transform: translate(7.2px) rotate(10deg);
	}

	50% {
		transform: translate(-1.4px, 0px) rotate(15deg);
	}

	100% {
		transform: translate(7.2px) rotate(10deg);
	}
}

.core {
	height: 12px;
	width: 20px;
	border-radius: 50%;
	background: green;
	position: absolute;
	opacity: 0;
	animation: core .2s linear 2.5s 1 forwards;
}

@keyframes core {
	0% {
		opacity: 0;
	}

	90% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.petal {
	background: linear-gradient(135deg, #ff7ff0 0%, #b032ff 100%);
	width: 25px;
	height: 25px;
	position: absolute;
	border-radius: 30px 75px 75px 75px;
	border-bottom: 1px solid #9620df;
	border-right: 1px solid #9620df;
	opacity: 0;
}

@keyframes petal {
	0% {
		opacity: 0;
	}

	90% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.petal-1 {
	top: 7px;
	right: 18px;
	transform: rotate(35deg);
	animation: petal 2s linear 1s 1 forwards, openPetal1 0.5s linear 3.5s 1 forwards;
}

@keyframes openPetal1 {
	0% {
		transform: rotate(35deg);
	}

	100% {
		transform: translate(2px, -3px) rotate(5deg);
	}
}

.petal-2 {
	top: 7px;
	right: 35px;
	transform: rotate(50deg);
	animation: petal 2s linear 1s 1 forwards, openPetal2 0.5s linear 3.5s 1 forwards;
}

@keyframes openPetal2 {
	0% {
		transform: rotate(50deg);
	}

	100% {
		transform: rotate(89deg) translate(-5px, 1px);
	}
}

.petal-3 {
	top: 3px;
	right: 10px;
	transform: rotate(60deg);
	transform-origin: top left;
	animation: petal 2s linear 1s 1 forwards, openPetal3 0.5s linear 3.5s 1 forwards;
}

@keyframes openPetal3 {
	0% {
		transform: rotate(60deg);
	}

	100% {
		transform: translateY(6px) rotate(160deg);
	}
}

.petal-4 {
	top: 4px;
	right: 14px;
	transform: rotate(50deg);
	transform-origin: top left;
	animation: petal 2s linear 1s 1 forwards, openPetal4 0.5s linear 3.5s 1 forwards;
}

@keyframes openPetal4 {
	0% {
		transform: rotate(50deg);
	}

	100% {
		transform: translateY(7px) rotate(-123deg);
	}
}

.petal-5 {
	top: 2px;
	right: 11px;
	transform: rotate(21deg);
	z-index: 1;
	transform-origin: top left;
	animation: petal 2s linear 1s 1 forwards, openPetal5 0.5s linear 3.5s 1 forwards;
}

@keyframes openPetal5 {
	0% {
		transform: rotate(21deg);
	}

	100% {
		transform: translate(-2px, 3px) rotate(-55deg);
	}
}

.middle {
	height: 0;
	width: 17px;
	background: yellow;
	border-radius: 50%;
	z-index: 5;
	position: absolute;
	left: 5px;
	top: 2px;
	opacity: 0;
	animation: middle .5s linear 3.5s forwards;
}

@keyframes middle {
	0% {
		opacity: 0;
		height: 0;
	}

	100% {
		opacity: 1;
		height: 11px;
	}
}
